In [74]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

In [75]:
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [76]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [77]:
df.info()

print('\nUnique Values:')
for col in df.columns:
    print('col:',col, df[col].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

Unique Values:
col: customerID ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
col: gender ['Female' 'Male']
col: SeniorCitizen [0 1]
col: Partner ['Yes' 'No']
col: Dependents ['No' 'Yes']
col: tenure [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
col: PhoneService ['No' 'Yes']
col: MultipleLines ['No phone service' 'No' 'Yes']
col: InternetService ['DSL' 'Fiber optic' 'No']
col: OnlineSecurity ['No' 'Yes' 'No internet service']
col: OnlineBackup ['Yes' 'No' 'No internet service']
col: DeviceProtection ['No' 'Yes' 'No internet service']
col: TechSupport ['No' 'Yes' 'No internet service']
col: StreamingTV ['No' 'Yes' 'No internet service']
col: StreamingMovies ['No' 'Yes' 'No internet service']
col: Contract ['Month-to-month' 'One year' 'Two year']
col: PaperlessBilling ['Yes' 'No']
col: PaymentMethod ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
col: MonthlyCharges [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
col: TotalCharges ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
col: Churn ['No' 'Yes']

In [78]:
# convert to code
mylist = list(df.select_dtypes(include=['object']).columns)
#mylist.remove('customerId')
mylist.remove('customerID')
mylist.remove('TotalCharges')
mylist.remove('Churn')
df['churn'] = (df['Churn'] == 'Yes').astype(int)
df['TotalCharges'] = df['TotalCharges'].apply(pd.to_numeric, errors='coerce')

print('removing rows with NaN on TotalCharges:', len(df) - len(df[np.isfinite(df['TotalCharges'])]))
df = df[np.isfinite(df['TotalCharges'])]
df = df.drop(["customerID", "Churn"], axis=1)

print('converting to code:\n', mylist)

df = pd.get_dummies(df, columns=mylist)
df = df.astype(np.float64)
df.head()

removing rows with NaN on TotalCharges: 11
converting to code:
 ['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod']

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0.0,1.0,29.85,29.85,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.0,34.0,56.95,1889.50,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.0,2.0,53.85,108.15,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.0,45.0,42.30,1840.75,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,0.0,2.0,70.70,151.65,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [79]:
# convert total charges to float64

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 46 columns):
SeniorCitizen                              7032 non-null float64
tenure                                     7032 non-null float64
MonthlyCharges                             7032 non-null float64
TotalCharges                               7032 non-null float64
churn                                      7032 non-null float64
gender_Female                              7032 non-null float64
gender_Male                                7032 non-null float64
Partner_No                                 7032 non-null float64
Partner_Yes                                7032 non-null float64
Dependents_No                              7032 non-null float64
Dependents_Yes                             7032 non-null float64
PhoneService_No                            7032 non-null float64
PhoneService_Yes                           7032 non-null float64
MultipleLines_No                           7032 non-null float64
MultipleLines_No phone service             7032 non-null float64
MultipleLines_Yes                          7032 non-null float64
InternetService_DSL                        7032 non-null float64
InternetService_Fiber optic                7032 non-null float64
InternetService_No                         7032 non-null float64
OnlineSecurity_No                          7032 non-null float64
OnlineSecurity_No internet service         7032 non-null float64
OnlineSecurity_Yes                         7032 non-null float64
OnlineBackup_No                            7032 non-null float64
OnlineBackup_No internet service           7032 non-null float64
OnlineBackup_Yes                           7032 non-null float64
DeviceProtection_No                        7032 non-null float64
DeviceProtection_No internet service       7032 non-null float64
DeviceProtection_Yes                       7032 non-null float64
TechSupport_No                             7032 non-null float64
TechSupport_No internet service            7032 non-null float64
TechSupport_Yes                            7032 non-null float64
StreamingTV_No                             7032 non-null float64
StreamingTV_No internet service            7032 non-null float64
StreamingTV_Yes                            7032 non-null float64
StreamingMovies_No                         7032 non-null float64
StreamingMovies_No internet service        7032 non-null float64
StreamingMovies_Yes                        7032 non-null float64
Contract_Month-to-month                    7032 non-null float64
Contract_One year                          7032 non-null float64
Contract_Two year                          7032 non-null float64
PaperlessBilling_No                        7032 non-null float64
PaperlessBilling_Yes                       7032 non-null float64
PaymentMethod_Bank transfer (automatic)    7032 non-null float64
PaymentMethod_Credit card (automatic)      7032 non-null float64
PaymentMethod_Electronic check             7032 non-null float64
PaymentMethod_Mailed check                 7032 non-null float64
dtypes: float64(46)
memory usage: 2.5 MB

In [80]:
churn_col = df['churn']
data = df.drop(["churn"], axis=1)

np.save('label', churn_col.values)
np.save('dataset', data.values)